.carousel{
        position: relative;
        width: 400px;
        height: 250px;
        margin: 200px auto;

    }
    img{
        border-radius: 20px;
    }
    span{
        display: none;
        
    }
    span.active{
        display: block;
    }
    .buttons{
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    button{
        background-color: #00000050;
        border: none;
        padding: 10px;
        color: #fff;
    }
    button:hover{
        background-color: #00000080;
    }
    .indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    z-index: 2;
    width: auto; 
}
    .indicator {
      height: 4px;
      width:36px ;
      gap: 2px;
      /* background-color: #fff; */
      background: rgba(255, 255, 255, 0.4);
      border-radius: 2px;
      cursor: pointer;
    }
    .indicator.active{
        background-color: #fff;
    }
    .headings{
        position: absolute;
        bottom: 15px;
        left: 40%;
        color: #fff;
    }